.site-layout-background {
    background: #fff;
    padding: 0;
    height: 46px;
  
    .trigger {
      font-size: 18px;
      line-height: 46px;
      height: 46px;
      padding: 0 24px;
      cursor: pointer;
      transition: color 0.3s;
      float: left;
    }

    .trigger:hover {
      color: #1890ff;
    }

    .menu-limit-height {
        float: right;
        height: 47px;
        line-height: 47px;
    }

}


